Repository functionland/fx-design-system, pull requests merged in 2022-08, with the labels that each got.

#57 Added a selected style to the LED color settings dots
  apps/box/src/components/Cards/ColorSettingsCard.tsx
  libs/component-library/src/lib/theme/theme.ts
Labels: blox app

#110 - Added reusable Text comps to Box app
  apps/box/src/components/Text.tsx
  libs/component-library/src/index.ts
  libs/component-library/src/lib/text/text.tsx
  libs/component-library/src/lib/theme/theme.ts
Labels: enhancement, blox app

#113 Task/button large
  apps/box/ios/Podfile.lock
  apps/box/package.json
  libs/component-library/src/lib/button/button.tsx
  libs/component-library/src/lib/theme/buttonClasses.ts
  libs/component-library/src/lib/theme/theme.ts
  package.json
  yarn.lock
Labels: component library

#118 Updated async package to latest
  apps/box/ios/Podfile.lock
  package.json
  yarn.lock
Labels: enhancement

#119 Initial settings screens
  apps/box/src/navigation/MainTabs.navigator.tsx
  apps/box/src/screens/Settings/About.screen.tsx
  apps/box/src/screens/Settings/ConnectedDApps.screen.tsx
  apps/box/src/screens/Settings/Invitations.screen.tsx
  apps/box/src/screens/Settings/Mode.screen.tsx
  apps/box/src/screens/Settings/Pools.screen.tsx
  apps/box/src/screens/Settings/Settings.screen.tsx
  apps/box/src/screens/Settings/WalletSettings.screen.tsx
  apps/box/src/screens/Settings/index.ts
Labels: blox app

#121 Added settings navigation
  apps/box/assets/icons/back.png
  apps/box/assets/icons/back@2x.png
  apps/box/assets/icons/back@3x.png
  apps/box/src/hooks/useTypedNavigation.ts
  apps/box/src/navigation/InitialSetup.navigator.tsx
  apps/box/src/navigation/MainTabs.navigator.tsx
  apps/box/src/navigation/Root.navigator.tsx
  apps/box/src/navigation/navigationConfig.ts
  apps/box/src/navigation/navigatonConfig.ts
Labels: blox app

#125 Update welcome screen buttons sizes
  apps/box/src/screens/InitialSetup/Welcome.screen.tsx
Labels: blox app

#126 Add Zustand state managment package
  package.json
  yarn.lock
Labels: enhancement

#124 Task/settings-menu
  apps/box/android/app/proguard-rules.pro
  apps/box/ios/Podfile.lock
  apps/box/src/components/SettingsList/SettingsMenu.tsx
  apps/box/src/components/SettingsList/index.ts
  apps/box/src/components/Version.tsx
  apps/box/src/navigation/MainTabs.navigator.tsx
  apps/box/src/screens/Settings/Invitations.screen.tsx
  apps/box/src/screens/Settings/Settings.screen.tsx
  apps/box/src/screens/Settings/WalletSettings.screen.tsx
  apps/box/src/screens/Settings/index.ts
  apps/file-manager/android/app/proguard-rules.pro
  libs/component-library/src/index.ts
  libs/component-library/src/lib/icons/icons.tsx
  libs/component-library/src/lib/theme/theme.ts
  package.json
  yarn.lock
Labels: enhancement, blox app

#147 Add Capitalisation Helper to comp lib
  libs/component-library/src/lib/utils/conversions.ts
Labels: component library

#152 Add Switch component to comp library
  libs/component-library/src/index.ts
  libs/component-library/src/lib/switch/switch.tsx
Labels: blox app

#149 Add layout helpers
  apps/box/src/constants/layout.ts
Labels: enhancement, blox app

#153 Task/radio buttons comp lib
  libs/component-library/src/index.ts
  libs/component-library/src/lib/pressable-opacity/pressableOpacity.tsx
  libs/component-library/src/lib/radio-button/RadioButton.tsx
  libs/component-library/src/lib/radio-button/RadioButtonGroup.tsx
  libs/component-library/src/lib/radio-button/index.ts
  libs/component-library/src/lib/radio-button/utils.ts
  libs/component-library/src/lib/theme/theme.ts
  libs/component-library/src/lib/types.ts
Labels: enhancement, component library

#141 Task/settings store
  apps/box/src/stores/index.ts
  apps/box/src/stores/useSettingsStore.ts
Labels: enhancement, blox app

#156 Fix for back button
  apps/box/src/navigation/MainTabs.navigator.tsx
Labels: bug

#154 Task/mode screen
  apps/box/assets/images/mode_dark.png
  apps/box/assets/images/mode_light.png
  apps/box/src/components/SettingsList/SettingsMenu.tsx
  apps/box/src/screens/Settings/Mode.screen.tsx
Labels: enhancement, blox app

#173 Add center icon to button
  libs/component-library/src/lib/button/button.tsx
Labels: component library

#181 Adding GridSelector to component lib
  libs/component-library/src/index.ts
  libs/component-library/src/lib/Icons.tsx
  libs/component-library/src/lib/grid-selector/gridSelector.tsx
Labels: component library

#158 Add auto theme switching to app
  apps/box/src/app/App.tsx
Labels: enhancement, blox app

#191 Added reusable small header text comp
  apps/box/src/components/Text.tsx
Labels: enhancement, blox app

#189 Add type helpers for:
  libs/component-library/src/lib/types.ts
Labels: enhancement

#187 Task/update bottom sheet methods
  libs/component-library/src/lib/bottom-sheet/bottomSheetModal.tsx
Labels: enhancement

#185 Add initial header comp
  libs/component-library/src/index.ts
  libs/component-library/src/lib/header/header.tsx
Labels: component library

#198 Adding empty card comp
  apps/box/src/components/Cards/ConnectedDevicesCard.tsx
Labels: blox app

#196 Task/connected dapps screens
  apps/box/assets/images/file_sync_logo.png
  apps/box/assets/images/fotos_logo.png
  apps/box/src/api/connectedDApps.ts
  apps/box/src/components/Icons.tsx
  apps/box/src/hooks/index.ts
  apps/box/src/hooks/useCallbackState.ts
  apps/box/src/screens/Settings/ConnectedDApps.screen.tsx
  apps/box/src/screens/Settings/ConnectedDApps/ConnectedDApps.screen.tsx
  apps/box/src/screens/Settings/ConnectedDApps/components/DAppCard.tsx
  apps/box/src/screens/Settings/ConnectedDApps/components/DAppHeader.tsx
  apps/box/src/screens/Settings/ConnectedDApps/components/DoneButton.tsx
  apps/box/src/screens/Settings/ConnectedDApps/components/index.ts
  apps/box/src/screens/Settings/ConnectedDApps/modals/AddDAppModal.tsx
  apps/box/src/screens/Settings/ConnectedDApps/modals/ClearDAppModal.tsx
  apps/box/src/screens/Settings/ConnectedDApps/modals/DAppSettingsModal.tsx
  apps/box/src/screens/Settings/ConnectedDApps/modals/index.ts
  apps/box/src/screens/Settings/index.ts
  libs/component-library/src/index.ts
  libs/component-library/src/lib/bottom-sheet/bottomSheetModal.tsx
  libs/component-library/src/lib/button/button.tsx
  libs/component-library/src/lib/card/card.tsx
Labels: enhancement, blox app

#200 Task/use fx theme
  apps/box/src/components/Blox.tsx
  apps/box/src/navigation/ComponentGallery.navigator.tsx
  apps/box/src/navigation/MainTabs.navigator.tsx
  apps/box/src/navigation/NavContainer.tsx
  libs/component-library/src/index.ts
  libs/component-library/src/lib/bottom-sheet/bottomSheetModal.tsx
  libs/component-library/src/lib/button/button.tsx
  libs/component-library/src/lib/grid-selector/gridSelector.tsx
  libs/component-library/src/lib/input/input.tsx
  libs/component-library/src/lib/line-chart/lineChart.tsx
  libs/component-library/src/lib/radio-button/RadioButton.tsx
  libs/component-library/src/lib/slider/slider.tsx
  libs/component-library/src/lib/svg/svg.tsx
  libs/component-library/src/lib/switch/switch.tsx
  libs/component-library/src/lib/theme/useFxTheme.ts
Labels: blox app, component library

#197 Task/progress bar
  apps/box/src/components/SettingsList/SettingsMenu.tsx
  apps/box/src/navigation/ComponentGallery.navigator.tsx
  apps/box/src/navigation/MainTabs.navigator.tsx
  apps/box/src/navigation/navigationConfig.ts
  apps/box/src/screens/Settings/ComponentGallery.screen.tsx
  apps/box/src/screens/Settings/ComponentGallery/ProgressBarDemo.screen.tsx
  apps/box/src/screens/Settings/ComponentGallery/index.tsx
  libs/component-library/src/index.ts
  libs/component-library/src/lib/progress-bar/progressBar.tsx
Labels: blox app, component library

#202 Updating comps to use comp lib FxCard
  apps/box/src/components/Cards/ConnectedDevicesCard.tsx
  apps/box/src/components/Cards/UsersCard.tsx
  apps/box/src/components/Cards/fields/CardRow.tsx
Labels: blox app, component library
